@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    height: 500px;
    width: 400px;
    font-family: "Alata", sans-serif;
}

header{
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.top{
    text-align: center;
    flex-grow: 1;
}

.title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
}


.addIcon{
    display: flex;
    align-items: center;
}

.image{
    margin-right: 15px;
    margin-top: 25px;
}

.head {
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 15px;
  width: 400px;
  font-family: "Alata", sans-serif;
  display: flex;
  color: rgba(243, 254, 255, 0.867);
  position: fixed;
  background-color: #0C134F;
}

.header {
  display: flex;
}

.header h1 {
    margin-left: 113px;
    font-size: 30px;
}

.header .AddIcon img {
  margin-top: 10px;
  margin-left: 200px;
}

.container {
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 15px;
  /* min-width: 100px; */
  width: 350px;
  font-family: "Alata", sans-serif;
  border: 2px solid rgb(22, 22, 22);
  border-radius: 10px;
  box-shadow: 12px 9px rgba(30, 29, 29, 0.442);
  color: rgba(255, 255, 255, 0.867);
  margin-top: auto;
}

.mainContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(45deg , rgb(92, 214, 255),rgb(153, 64, 255));
  margin-top: auto;
}

.list {
  list-style-type: none;
}

.taskPanel {
  background-image: #161617;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 15px;
  /* min-width: 100px; */
  width: 200px;
  font-family: "Alata", sans-serif;
  overflow: auto;
  margin: auto;
}

h4 {
  font-size: 20px;
}

.taskPanelTop {
  display: flex;

}

.editImage {
  margin-left: 230px;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  background-color: #f4f4f4a9;
  list-style-type: none;
}

.mainActiveTab {
  padding: 20px;
  background-color: #000000c3;
}

.minActiveTab {
  display: flex;
  justify-content: center;
}

.todayUsed-PlayPause {
  display: flex;
}

.playPause {
  margin-left: 220px;
}

#bottom {
  position: fixed;
  top: 560px;
  bottom: 10px;
  width: 400px;
  height: 50px;
  background-color: #f1f1f1;
  z-index: 9999;
  padding: 10px;
}

/* ADD TASK  */

.container {
  background-color: #000000c3;
  border-radius: 6px;
  border: 2px solid black;
  padding: 25px;
  margin-top: 30px;
}

.mainContainer {
  display: flex;
  /* color: rgba(72, 237, 255, 0.867); */
}

.names{
    font-size: 22px;
}

.title {
  display: flex;
  margin-top: 20px;
}

.title input {
  margin-left: 98px;
  border-radius: 6px;
  width: 250px;
  height: 40px;
}

.link {
  display: flex;
  margin-top: 20px;
}

.link input {
  margin-left: 102px;
  border-radius: 6px;
  width: 250px;
  height: 40px;
}

.description {
  display: flex;
  margin-top: 20px;
}

.textArea {
  margin-left: 50px;
  border-radius: 6px;
}

.TimeInterval {
  display: flex;
  margin-top: 20px;
}

.TimeInterval select {
  margin-left: 102px;
  border-radius: 6px;
  width: 250px;
  height: 40px;
}

.Occurance {
  display: flex;
  margin-top: 20px;
}

.Occurance select {
  margin-left: 102px;
  border-radius: 6px;
  width: 250px;
  height: 40px;
}

.primaryButton{
  padding: 8px;
  font-size: 13px;
  margin: 10px 35px;
  border-radius: 4px;
  height: 35px;
  width: 75px;
  cursor: pointer;
  background-color: rgb(52, 52, 52);
  color: white;
  font-family: "Alata", sans-serif;
}

.primaryButton:hover{
background-color: rgb(34, 34, 34);
color: rgba(251, 255, 255, 0.867);
transition: 0.2s ease-in;
}

/* Streak page  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.streakContainer {
  border: 2px solid black;
  padding: 60px;
  width: 350px;
  height: 6-0px;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  background-color: #000000c3;
  border-radius: 10px;
  box-shadow: 12px 9px rgba(30, 29, 29, 0.442);
}

.streakMain {
  border: 5px solid rgba(13, 255, 0, 0.867);
  color: rgb(20, 35, 101);
  background-image: linear-gradient(45deg , rgb(92, 214, 255),rgb(153, 64, 255));
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  margin: 20px auto;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
}

.streakMain h1 {
  justify-content: center;
  margin: auto;
}

.noOfDays {
  display: flex;
  padding: 20px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.weekDays {
    padding: 6px;
    height: 35px;
    width: 32px;
    border: 2px solid rgba(243, 254, 255, 0.867);
    border-radius: 50%;
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: rgba(243, 254, 255, 0.867);
    background-color: #0C134F;
    font-family: "Alata", sans-serif;
}

.descBox {
    border: 2px solid rgba(242, 255, 242, 0.867);
    border-radius: 13px;
    padding: 15px;
    color: rgb(55, 150, 252);
    font-family: "Alata", sans-serif;
    height: 200px;
    font-size: 12px;
} 

.coinContainer{
  height: 30px;
  width: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-left: 203px;
  position: inherit;
  margin-top: -35px;
}

.coinContainer img{
  margin-right: 3px;
}
 ul{
  list-style-type: none;
 }